<div class="row menu">
    <div class="absolute">
        <div class="col-md-12 ">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="personagens/new" class="btn btn-primary">Criar Personagem</a>
                    </span>
                    <input ng-model="vm.pesquisa" class="form-control" placeholder="Pesquisar" >
                </div>
            </form>
        </div>
    </div>
</div>
<!--ng-repeat="personagem in vm.personagens track by personagem.id | filter: pesquisa"-->
<div class="row"> <br>
    <div class="col-md-5 col-sm-5 col-xs-12 anicamao-fade card-box" 
        ng-repeat="personagem in vm.personagens | filter: vm.pesquisa">
        
        <div class="card-deck">
            <div class="card">
                    <button type="button" 
                    class="close" 
                    aria-label="Close"
                    ng-click="vm.excluir(personagem)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="image-box">
                    <img class="card-img-top img-responsive center-block img-fluid image-in-box" 
                        src="{{personagem.url}}" 
                        alt="{{personagem.nome}}">

                </div>
                <div class="card-body row">
                    <h5 class="card-title">{{personagem.sobreNome}} {{personagem.nome}}</h5>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item text-center">
                            <div class="progress">
                                <div ui-Hp class="progress-bar progress-bar-success" 
                                    id="{{personagem.id}}hpbar" 
                                    ng-model="personagem.myHp" 
                                    style="width:{{personagem.myHp}}%">
    
                                </div>
                            </div>
                                
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" 
                                    id="{{personagem.id}}kibar" 
                                    style="width:{{personagem.ki}}%">
    
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}hp">HP:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}hp" 
                                        type="text" 
                                        value="{{personagem.hp}}" 
                                        ng-model="personagem.hp" 
                                        ng-change="vm.powChange(personagem)">

                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}ki">KI:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}ki" 
                                        type="text" 
                                        value="{{personagem.ki}}" 
                                        ng-model="personagem.ki">

                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}atauqe">Ataque:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}atauqe" 
                                        type="text" 
                                        disabled
                                        value="{{personagem.ataque}}">

                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}defesa">Defesa:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}defesa" 
                                        type="text" 
                                        disabled
                                        value="{{personagem.defesa}}">
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}danof" >Dano Fisico:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}danof" 
                                        type="text" 
                                        disabled
                                        value="{{personagem.danoF}}d6+{{personagem.bonusF}}">

                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}danom" >Dano Magic:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}danom" 
                                        type="text" 
                                        disabled
                                        value="{{personagem.danoM}}d6+{{personagem.bonusM}}">
                                </div>
                            </div>
                        </li>

                        <br>
                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}aura">Aura de Ki:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select ng-model="personagem.auraKi" 
                                    ng-change="vm.powChange(personagem)" 
                                    class="form-control form-control-sm" 
                                    id="{{personagem.id}}aura">

                                        <option selected value="off">Off</option>
                                        <option value="on">On</option>
                                        <option value="kaioken">Kaioken!</option>

                                    </select>
                                    <div ng-if="personagem.auraKi == 'kaioken'">
                                        <input ng-model="personagem.kaioken" 
                                            class="form-control text-center" 
                                            type="number" 
                                            value="1"
                                            ng-change="vm.powChange(personagem)">
                                        
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}trans">Transformação:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input ng-model="personagem.transform" 
                                        type="number"
                                        ng-change="vm.powChange(personagem)" 
                                        class="form-control form-control-sm text-center" 
                                        id="{{personagem.id}}trans">

                                        
                                    
                                </div>
                                
                            </div>
                        </li>

                        <br>
                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}pdla" class="label-grange">Poder de Luta Atual:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}pdla" 
                                        type="text"
                                        ng-model="personagem.poderDeLutaAtual"
                                        disabled>

                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}pdli" class="label-grange">Poder de Luta Inimigo:</label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}pdli" 
                                        ng-model="personagem.poderDeLutaInimigo" 
                                        ng-change="vm.powChange(personagem)"
                                        type="text"
                                        value="{{personagem.poderDeLutaInimigo}}">
                                        
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label for="{{personagem.id}}pdl" class="label-grange">Poder De Luta:</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-xs-10 text-center" 
                                        id="{{personagem.id}}pdl" 
                                        ng-model="personagem.poderDeLuta" 
                                        ng-change="vm.powChange(personagem)"
                                        type="text" 
                                        value="{{personagem.poderDeLuta}}">

                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input class="form-control col-xs-10 btn btn-primary" 
                                        ng-click="vm.salvarPersonagens(vm.personagens)"
                                        type="button" 
                                        value="Salvar Alterações">

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//ng-controller="PersonagensController"-->